#app{
  display: grid;
  place-content: center;
  height: auto;
}

.mainContent {
  
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.box {
  width: 180px;
  height: 100px;
  border: 2px;
  border-style: solid;
  border-color: grey;
  background-color: rgb(216, 216, 216);
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}
