#board {
  display: grid;
  grid-template-columns: 88px repeat(5, 1fr) 88px;
  grid-template-rows: 88px repeat(5, 1fr) 88px;
  width: 576px;
  height: 576px;
  background-image: url("../../assets/images/black_board.png");
  background-repeat: no-repeat, repeat;
  background-size: 100%;
}

#player-cursor{
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-self: center;
  align-self: center;
  margin-top: 0;
}