.tile .piece{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.tile .piece:hover{
  cursor: pointer;
}

.blockCursor{
  cursor: default !important;
}

#finished{
  opacity: 0.5;
}