.header {
  width: 100%;
  height: 10rem;
}

.header .navbar-brand {
  padding: 0.75rem 1rem;
}

.header .navbar-toggler{
  top: 0.25rem;
  right: 1rem;
}

.collapse {
  margin-left: auto;
}

#squadro-title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 160px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
  color: black;
}