#board {
  display: grid;
  grid-template-columns: 88px repeat(5, 1fr) 88px;
  grid-template-rows: 88px repeat(5, 1fr) 88px;
  width: 576px;
  height: 576px;
  background-image: url("../../assets/images/black_board.png");
  background-repeat: no-repeat, repeat;
  background-size: 100%;
}


.redPiece0{
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  align-items: center;
}

.redPiece1{
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  align-items: center;
}

.redPiece2{
  grid-column: 1/2;
  grid-row: 4/5;
  display: flex;
  align-items: center;
}

.redPiece3{
  grid-column: 1/2;
  grid-row: 5/6; 
  display: flex;
  align-items: center;

}

.redPiece4{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 6/7;
  display: flex;
  align-items: center;
}

.greenPiece0{
  grid-row: 7 / 8;
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
}

.greenPiece1{
  grid-row: 7 / 8;
  grid-column: 3 / 4;
  display: flex;
  justify-content: center;
}

.greenPiece2{
  grid-row: 7 / 8;
  grid-column: 4 / 5;
  display: flex;
  justify-content: center;
}


.greenPiece3{
  grid-row: 7 / 8;
  grid-column: 5 / 6;
  display: flex;
  justify-content: center;
}

.greenPiece4{
  grid-row: 7 / 8;
  grid-column: 6 / 7;
  display: flex;
  justify-content: center;
}